body{
     background-color:rgb(188, 162, 240) ;
}

.container{
     padding: 1px 30px ;
     margin: 5% 27%;
     height: fit-content;
     width: 700px;
     
}

#heading{
     text-align: center;
     font-size: 40px;
}

.toDoForm{
     border: 2px solid gray;
     display: flex;
     gap: 30px;
     padding: 10px 30px;
}
.toDoList{
     border: 2px solid gray;
     display: block;
     gap: 30px;
     padding: 20px 30px;
     max-height: 400px;
     overflow-y: auto;

}